<h2>Upcoming Bookings</h2>
<mat-card class="example-card" appearance="outlined" *ngFor="let booking of bookings">
  <mat-card-content>
      <div class="flight-details">
          <img src="{{ booking.flight.imageUrl}}" alt="Flight Image" class="flight-image">
          <div class="detail-item">
              <label>Origin:</label>
              <span>{{ booking.flight.origin }}</span>
          </div>
          <div class="detail-item">
              <label>Boarding:</label>
              <span>{{ booking.flight.boradingDate }}</span>
          </div>
          <div class="detail-item">
              <label>Destination:</label>
              <span>{{ booking.flight.destination }}</span>
          </div>
          <div class="detail-item">
              <label>Landing:</label>
              <span>{{ booking.flight.arrivalDate }}</span>
          </div>
          <div class="detail-item">
            <label>No. of passengers:</label>
            <span>{{ booking.passenger }}</span>
          </div>
          <button mat-button [routerLink]="['../view-flight', booking.flight.flightNo, booking.passenger]">View</button>
      </div>
  </mat-card-content>
</mat-card>

<h2>Previous Bookings</h2>
<mat-card class="example-card" appearance="outlined" *ngFor="let booking of bookings">
  <mat-card-content>
      <div class="flight-details">
          <div class="detail-item">
              <label>Origin:</label>
              <span>{{ booking.flight.origin }}</span>
          </div>
          <div class="detail-item">
              <label>Boarding:</label>
              <span>{{ booking.flight.boradingDate }}</span>
          </div>
          <div class="detail-item">
              <label>Destination:</label>
              <span>{{ booking.flight.destination }}</span>
          </div>
          <div class="detail-item">
              <label>Landing:</label>
              <span>{{ booking.flight.arrivalDate }}</span>
          </div>
          <div class="detail-item">
            <label>No. of passengers:</label>
            <span>{{ booking.passenger }}</span>
          </div>
      </div>
  </mat-card-content>
</mat-card>



