<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Destination</title>
    <link rel="stylesheet" href="../static/header_footer.css">
    <h1>OnoAir</h1>
</head>
<body>
    <h2>New Destination</h2>
    <form> 

        <!--Destination code:-->
        <label for="destCode"> Destination code:</label>
        <input type="text" id="destCode" name="destCode"></br>

        <!--Destination name:-->
        <label for="destName"> Destination name:</label>
        <input type="text" id="destName" name="destName"></br>

       <!--airport name:--> 
        <label for="airportName"> airport name:</label>
        <input type="text" id="airportName" name="airportName"></br>

        <!--airport url:-->
        <label for="airportUrl"> airport url:</label>
        <input type="url" id="airportUrl" name="airportUrl"></br>
    
        <!--image url time:-->
        <label for="imgUrl"> image url:</label>
        <input type="url" id="imgUrl" name="imgUrl"></br>

    </form>

    <div class="test">
        <br> 
        <button type= "butoon"> Save</button>
    </div>

</body>
<footer>
    <i> ? </i>
</footer>
</html>