<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/header_footer.css">
    <h1>OnoAir</h1>
</head>
<body>
    <div class="test">
        <h2>Book a Flights</h2>

        <h4> filter by : </h4>
        <!--Origin:-->
        <label for="Origin"> Origin:</label>
        <input type="text" id="Origin" name="Origin"></br>

       <!--Destation:--> 
       <label for="Destation"> Destation:</label>
       <input type="text" id="Destation" name="Destation"></br>
       

        <table>
            <tr>
                <th>Flight No.</th>
                <th>Origin</th>
                <th>Destinations</th>
                <th>...</th>
            </tr>
        </table>
        <br>
        <button type= "butoon"><a href="Add Flight.html"> Add Flight</a></button>
    </div>
    
</body>
<footer>
    <i> ? </i>
</footer>
</html>