<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="../static/header_footer.css">
    <h1>OnoAir</h1>
</head>
<body>
    <div class="test">
    <dl>
        <div style="padding-bottom:2000px">
        <dt><a href="Manage Flights.html">Admin - Manage Flights</a></dt>
        <dt><a href="Manage Destinations.html">Admin - Manage Destinations</a></dt>
        <dt><a href="Book a Flight.html">User - Book a Flight</a></dt>
        <dt><a href="Manage Bookings.html">User - Manage Bookings</a></dt>
    </dl>
    </div>

</body>
<footer>
    <i> ? </i>
</footer>
</html>