<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
    <link rel="stylesheet" href="../static/header_footer.css">
</head>
<h1>OnoAir</h1>

<body>
    <table>
        <tr>
            <th>Destination image</th>
            <th>Origin: Boarding:
                <br>
                Destination: Landing: 
                <br>
                No. of passengers:
            </th>
        </tr>
    </table>
</body>

<footer>
    <i> ? </i>
</footer>
</html>