<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/header_footer.css">
    <h1>OnoAir</h1>
</head>
<body>
    <div class="test">
        <h2>Manage Destinations</h2>

        <table>
            <tr>
                <th>Name</th>
                <th>Airport Name</th>
                <th>Airport Website</th>
            </tr>
        </table>
        <br>
        <button type= "butoon"><a href="Add Destination.html"> Add Destination</a></button>
    </div>
</body>
<footer>
    <i> ? </i>
</footer>
</html>