<mat-card class="example-card" appearance="outlined">
  <mat-card-content>
      <div class="flight-details">
          <img src="{{ bookings[1].flight.imageUrl}}" alt="Flight Image" class="flight-image">
          <div class="detail-item">
              <label>Origin:</label>
              <span>{{ bookings[1].flight.origin }}</span>
              <label>Boarding:</label>
              <span>{{ bookings[1].flight.boradingDate }}</span>
          </div>
          <div class="detail-item">
              <label>Destination:</label>
              <span>{{ bookings[1].flight.destination }}</span>
              <label>Landing:</label>
              <span>{{ bookings[1].flight.arrivalDate }}</span>
          </div>
          <div class="detail-item">
            <label>No. of passengers:</label>
            <span>{{ bookings[1].passenger }}</span>
          </div>
      </div>
  </mat-card-content>
</mat-card>



