.month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
}

.month-picker-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}