<h2>New Destination</h2>
        <form #destinationForm="ngForm" (ngSubmit)="onSubmit()">
            <!-- Destination Code -->
            <mat-form-field appearance="fill">
                <mat-label>Destination Code</mat-label>
                <input matInput [(ngModel)]="destination!.code" name="code" required>
            </mat-form-field>
            <br>

            <!-- Destination Name -->
            <mat-form-field appearance="fill">
                <mat-label>Destination Name</mat-label>
                <input matInput [(ngModel)]="destination!.name" name="name" required>
            </mat-form-field>
            <br>

            <!-- Airport Name -->
            <mat-form-field appearance="fill">
                <mat-label>Airport Name</mat-label>
                <input matInput [(ngModel)]="destination!.airportName" name="airportName" required>
            </mat-form-field>
            <br>

            <!-- Airport URL -->
            <mat-form-field appearance="fill">
                <mat-label>Airport URL</mat-label>
                <input matInput [(ngModel)]="destination!.airportUrl" name="airportUrl" required>
            </mat-form-field>
            <br>

            <!-- Image URL -->
            <mat-form-field appearance="fill">
                <mat-label>Image URL</mat-label>
                <input matInput [(ngModel)]="destination!.imageUrl" name="imageUrl" required>
            </mat-form-field>
            <br>

            <!-- Save Button -->
            <button mat-raised-button color="primary" [disabled]="destinationForm.invalid" type="submit">Save</button>
        </form>
