
<div class="card">
  <div class="info-section">
      <label>Flight NO.:</label>
      <div>{{flightNo}}</div>
  </div>
  <div class="info-section">
      <label>Origin:</label>
      <div>{{flight?.origin}}</div>
  </div>
  <div class="info-section">
      <label>Destination:</label>
      <div>{{flight?.destination}}</div>
  </div>
  <div class="info-section">
      <label>Boarding Date:</label>
      <div>{{flight?.boradingDate}}</div>
  </div>
  <div class="info-section">
      <label>Arrival Date:</label>
      <div>{{flight?.arrivalDate}}</div>
  </div>
  <div class="info-section">
      <label>Number of Seats:</label>
      <div>{{flight?.numberOfSeats}}</div>
  </div>
</div>
