<h2>Book Flight</h2>
<mat-card class="example-card" appearance="outlined">
    <mat-card-content>
        <div class="flight-details">
            <div class="detail-item">
                <label>Origin:</label>
                <span>{{booking?.flight?.origin}}</span>
            </div>
            <div class="detail-item">
                <label>Boarding:</label>
                <span>{{booking?.flight?.boradingDate}}</span>
            </div>
            <div class="detail-item">
                <label>Destination:</label>
                <span>{{booking?.flight?.destination}}</span>
            </div>
            <div class="detail-item">
                <label>Landing:</label>
                <span> {{booking?.flight?.arrivalDate}}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<h4>Passenger 1</h4>

        <div *ngFor="let passenger of [booking?.passenger]">
          <p>Passenger Name: {{ passenger?.name }}</p>
          <p>Passenger Passport: {{ passenger?.passportNumber }}</p>
        </div>
        