<mat-stepper orientation="vertical" [linear]="true">
    <mat-step [stepControl]="passAmount">
        <form [formGroup]="passAmount">
            <div *ngIf="flight">
                <mat-card class="flight-info-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Book Flight No. {{ flight.flightNo }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <p><strong>Origin:</strong> {{ flight.origin }}</p>
                            <p><strong>Destination:</strong> {{ flight.destination }}</p>
                            <p><strong>Boarding:</strong> {{ flight.boradingDate }}</p>
                            <p><strong>Landing:</strong> {{ flight.arrivalDate }}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <ng-template matStepLabel>Choose passengers amount</ng-template>
            <mat-form-field>
                <mat-label>amount</mat-label>
                <mat-select formControlName="amount" class="count-select" placeholder="Passenger Count">
                    @for (item of [1, 2, 3, 4, 5]; track item) {
                        <mat-option [value]="item">{{ item }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </form>
    </mat-step>
    <mat-step [stepControl]="bookingForm" [completed]="passDetails.valid">
        <!-- Loop through the FormArray -->
        <form [formGroup]="bookingForm">
            <ng-template matStepLabel>fill out passengers details</ng-template>
            <div formArrayName="passDetails">
                <div *ngFor="let passGroup of passDetails.controls; let i = index" [formGroupName]="i">
                    <h3>Passenger {{ i + 1 }}</h3>
                    <mat-form-field>
                        <mat-label>Full Name</mat-label>
                        <input matInput formControlName="full_name" placeholder="John Doe"/>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Passport Number</mat-label>
                        <input matInput formControlName="passport_number" placeholder="123456789"/>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="bookingForm" [completed]="passDetails.valid">
        <!-- Loop through the FormArray -->
        <form [formGroup]="bookingForm">
            <ng-template matStepLabel>select luggage</ng-template>
            <div formArrayName="passDetails">
                <div *ngFor="let passGroup of passDetails.controls; let i = index" [formGroupName]="i">
                    <!--                    <mat-form-field>-->
                    <mat-card class="luggage-card" appearance="outlined">
                        <div class="luggage-card-header">
                            <mat-card-header>
                                <mat-card-title>{{ passGroup?.value.full_name }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-actions align="end">
                                <button (click)="openChooseLuggageDialog(i)" mat-flat-button>
                                    {{ hasLuggage(i) ? 'Manage' : 'Add' }} Luggage
                                </button>
                            </mat-card-actions>
                        </div>
                        <mat-card-content>
                            <div *ngIf="hasLuggage(i)">
                                <p>Total items: <b>{{ getTotalLuggage(i) }}</b></p>
                                <p>Total weight: <b>{{ getTotalLuggageWeight(i) }}kg</b></p>
                            </div>
                            <p *ngIf="!hasLuggage(i)">
                                Not added luggage yet, click the button if you want to change it.
                            </p>
                        </mat-card-content>
                        <mat-card-footer class="luggage-card-footer">
                            <mat-chip-set aria-label="Chihuahua traits">
                                <mat-chip *ngFor="let luggage of getLuggageDetails(i)">
                                    {{ luggage }}
                                </mat-chip>
                            </mat-chip-set>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Overview</ng-template>
        <mat-card style="margin: 1rem;" class="flight-info-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Flight Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="flight">
                    <p><strong>Flight No.:</strong> {{ flight.flightNo }}, <strong>{{ flight.origin }}</strong> to
                        <strong>{{ flight.destination }}</strong></p>
                    <p><strong>Boarding:</strong> {{ flight.boradingDate }},
                        <strong>Landing:</strong> {{ flight.arrivalDate }}</p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card style="margin: 1rem;" class="passenger-info-card" appearance="outlined"
                  *ngFor="let passGroup of passDetails.controls; let i = index">
            <mat-card-header>
                <mat-card-title>Passenger {{ i + 1 }} Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Name:</strong> {{ passGroup?.get('full_name')?.value }},
                    <strong>Passport Number:</strong> {{ passGroup?.get('passport_number')?.value }}</p>
                <b>Luggage:</b><br>
                <div *ngIf="hasLuggage(i)">
                    <span *ngFor="let luggage of getLuggageDetails(i); let j = index">
                        {{ luggage }}{{ getLuggageDetails(i).length > j + 1 ? ',' : '.' }}
                    </span>
                </div>
                <p *ngIf="!hasLuggage(i)">No luggage added yet.</p>
            </mat-card-content>
        </mat-card>
        <div>
            <button mat-flat-button (click)="bookFlight()">Book Flight</button>
        </div>
    </mat-step>
</mat-stepper>