<h2>Upcoming Bookings</h2>
<div class="left">
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <img mat-card-lg-image src="assets\help.jpg" >
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>
</div>
<div class="right">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-header>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>

  <h2>Previous Bookings</h2>
  <div class="left">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <img mat-card-lg-image src="assets\help.jpg" >
        </mat-card-header>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div class="right">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-header>
            <mat-card-content></mat-card-content>
          </mat-card>
        </div>