    <div *ngFor="let booking of bookings">
      <div *ngIf="bookings.length > 0 && hasFlightInNextWeek(flight.boradingDate); else noFlights">
      <mat-card class="example-card" appearance="outlined">
        <img mat-card-image src="{{booking.flight.imageUrl}}" alt="{{booking.flight.destination}}">
        <mat-card-actions>
          <button mat-button>BOOK</button>
        </mat-card-actions>
    </mat-card>
    </div>
    </div>
    
    <ng-template #noFlights>
    <p> No Flights available at this week </p>
    </ng-template>
      